@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased;
    background-image: radial-gradient(circle at top right, #1e293b, #0f172a);
    background-attachment: fixed;
    min-height: 100vh;
  }
}
